<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <ng-container matColumnDef="MSTID">
    <th mat-header-cell *matHeaderCellDef> MSTID </th>
    <td mat-cell *matCellDef="let element"> {{element.MSTID}} </td>
  </ng-container>


  <ng-container matColumnDef="Match">
    <th mat-header-cell *matHeaderCellDef>  Match</th>
    <td mat-cell *matCellDef="let element"> {{element.Match}} </td>
  </ng-container>


  <ng-container matColumnDef="First">
    <th mat-header-cell *matHeaderCellDef> First</th>
    <td mat-cell *matCellDef="let element"> {{element.First}} </td>
  </ng-container>


  <ng-container matColumnDef="Last">
    <th mat-header-cell *matHeaderCellDef>  Last </th>
    <td mat-cell *matCellDef="let element"> {{element.Last}} </td>
  </ng-container>

  <ng-container matColumnDef="Nationality">
    <th mat-header-cell *matHeaderCellDef>   Nationality </th>
    <td mat-cell *matCellDef="let element"> {{element.Nationality}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

